$default_font_color: #999

.post
  margin: 2em 0 2em 0
  padding: 2em 0 0.2em 0
  border-bottom: 1px solid #eee
  .author
    text-align: right
    font-size: 0.8em
  .title
    h3
      margin: 0 0 10px 0
      a
        color: #555
  .content
    margin: 0.5em 0
    h1
      font-size: 28px
      line-height: 30px
    h2
      font-size: 24px
      line-height: 26px
    h3
      font-size: 20px
      line-height: 22px
    h4
      font-size: 18px
      line-height: 18px
  .comments_count
    text-align: right
    font-size: 0.9em
    a
      color: $default_font_color

.post_comments
  margin: 2em 0
